body {
  background-color: #000000;
  color: #ffffff;
}
h1, h2, p, a, button {
  font-family: sans-serif;
}
h1 {
  font-size: 50px;
  color: #FFA500;
}
.custom-button {
  background-color: #ffffff;
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.custom-button:hover {
   background-color: #999999;
}
.custom-button:active {
   background-color: #777777;
}
@media (max-width: 768px) {
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 32px;
  }
  p, a {
    font-size: 24px;
  }
}
a {
    text-decoration: none;
}
