html, body {
    height: 100%;
}

html {
    background-image: url('back.png'); /* Replace 'back.png' with the path to your background image */
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    background-color: #000000;
    color: #ffffff;
    display: flex; /* Center the content */
    justify-content: center; /* Center horizontally (x-axis) */
    align-items: center; /* Center vertically (y-axis) */
}

.container {
    text-align: center; /* Center text within this container if needed */
}

/* Additional styles for individual elements */
.centered-elements > div {
    margin: 10px; /* Add spacing between elements if desired */
}

/* Your existing styles */
h1, h2, p, button {
    font-family: sans-serif;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

a {
    text-decoration: none;
    font-family: sans-serif;
}

h1 {
    font-size: 50px;
}

.custom-button {
    background-color: #009FFF;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-button:hover {
    background-color: #145A84;
}

.custom-button:active {
    background-color: #004066;
}

@media (max-width: 768px) {
    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 28px;
    }

    p, a {
        font-size: 18px;
    }
}
